.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__image{
    width: 6rem;
    height: 6rem;
}

.hero__subtitle{
    color: var(--clr-slate600);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title{
    color: var(--clr-slate400);
    font-size: var(--size-4xl);
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description{
    color: var(--clr-slate600);
    max-width: 60ch;
    font-size: var(--size-sm);
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}

.animationContainer{
    z-index: 1;
    /* border: 1px red solid;
    border-radius: 50%; */
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: colorChange 5s linear infinite;


}


.animationContainer span{
    background-image: linear-gradient(to right, #33001b, #ff0084); 
    opacity: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px red solid; */
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
    pointer-events: none;
    animation: animate 5s linear infinite;
}

.animationContainer p{
    font-weight:bold;
    z-index: 1;
    color:  clr( --clr-light);

}

.animationContainer span:nth-child(2){ 
    border-radius: 20% 80% 34% 66% / 74% 12% 88% 26% ;
}

.animationContainer span:nth-child(3) {
    animation-direction: reverse;
    border-radius: 25% 75% 74% 26% / 74% 30% 70% 26% ;

}

.animationContainer span:nth-child(4) {
    animation-duration: 3s;
    border-radius: 20% 80% 34% 66% / 74% 89% 11% 26% ;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        .animationContainer{ color: aliceblue;}
    }

    0% {
        transform: rotate(360deg);
        .animationContainer{ color: rgb(13, 32, 48);}

    }
}
@keyframes colorChange {
    0% {
        color: #33001b;
    }
    50% {
        color: aliceblue;
    }
    
}



/*  xs  */
@media (min-width: 475px) {
    .hero{
        
        gap: 1.5rem;
    }
    
    .hero__image{
        width: 6.5rem;
        height: 6.5rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-lg);
    }
    
    .hero__title{
        font-size: var(--size-5xl);
    }
    
    .hero__description{
        font-size: var(--size-base);
    }
    
    .hero__btn{
        font-size: var(--size-base);
    }
    
}

/*  sm  */
/* @media (min-width: 640px) {
} */

/*  md  */
/* @media (min-width: 768px) {
} */

/*  lg  */
@media (min-width: 1024px) {
    
    .hero__image{
        width: 8rem;
        height: 8rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-2xl);
    }
    
    .hero__title{
        font-size: var(--size-7xl);
    }
    
    .hero__description{
        font-size: var(--size-lg);
    }
    
    .hero__btn{
        font-size: var(--size-lg);
    }
}

/*  xl  */
@media (min-width: 1280px) {
    
    .hero{
        gap: 2rem;
    }
    
    .hero__image{
        width: 10rem;
        height: 10rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-4xl);
    }
    
    .hero__title{
        font-size: var(--size-9xl);
    }
    
    .hero__description{
        font-size: var(--size-xl);
    }
    
    .hero__btn{
        font-size: var(--size-xl);
    }
}

/*  2xl  */
/* @media (min-width: 1536px) {
} */
